<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- SEO Title and Meta Description -->
    <title>Shared SEO Reports made with Free Pro SEO Assistant GPT</title>
        <link rel="icon" type="image/png" href="https://proseo.tech/static/images/favicon.png">
    <meta name="description" content="Shared SEO Reports made with ChatGPT SEO tool Pro SEO Assistant GPT (Free) on chatgpt.com. Showcasing SEO AI tools features and capabilities. Try it today!">
    <!-- ✅ Canonical URL -->
   <a class="page-link" href="{{ url_for('pages.shared_chat_sessions', page=current_page-1, per_page=per_page) }}" tabindex="-1">&laquo;</a>
    <!-- ✅ Meta Robots Tag -->
    <meta name="robots" content="index, follow">
    <!-- Hreflang-tags for ENG (default) -->
    <link rel="alternate" href="https://proseo.tech/" hreflang="en" />
    <link rel="alternate" href="https://proseo.tech/nl/" hreflang="nl" />
    <link rel="alternate" href="https://proseo.tech/" hreflang="x-default" />
    <!-- ✅ Open Graph Meta Tags -->
    <meta property="og:title" content="Pro SEO Assistant GPT | AI SEO Tool ChatGPT | Free SEO Tool">
    <meta property="og:description" content="Shared sessions with SEO Reports by Pro SEO Assistant on chatgpt.com.">
    <meta property="og:url" content="https://proseo.tech/">
    <meta property="og:site_name" content="Pro SEO Tech">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://proseo.tech/static/images/og_img-shared-chat-session.png">
    <meta property="og:image:alt" content="Pro SEO GPT - Shared chat sessions on chatgpt.com">
    <meta property="og:locale" content="en_US">
    <meta property="og:image:type" content="image/svg+xml">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Pro SEO Assistant GPT | AI SEO Tool ChatGPT | Free SEO Tool">
    <meta name="twitter:description" content="Shared sessions with SEO Reports by Pro SEO Assistant on chatgpt.com.">
    <meta name="twitter:image" content="https://proseo.tech/static/images/og_img-shared-chat-session.png">
    <!-- ✅ JSON-LD Structured Data -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "SoftwareApplication",
      "name": "Pro SEO Assistant",
      "operatingSystem": "Web",
      "applicationCategory": "SEO Tool",
      "url": "https://proseo.tech/",
      "image": "https://proseo.tech/static/images/logo.svg",
      "description": "Pro SEO Assistant AI is an API-driven AI SEO tool for on-page audits and content optimization with live accurate data and actionable reports.",
      "offers": {
        "@type": "Offer",
        "price": "0",
        "priceCurrency": "USD"
      },
      "publisher": {
        "@type": "Organization",
        "name": "Pro SEO Tech",
        "url": "https://proseo.tech/"
      },
      "sameAs": [
        "https://chatgpt.com/g/g-67a9c0b376d881918b85c637d77761f0-pro-seo-assistant"
      ],
      "softwareVersion": "1.0",
      "applicationSubCategory": "Web-based SEO Analysis",
      "creator": {
        "@type": "Person",
        "name": "Daniél Mulder",
        "sameAs": "https://www.linkedin.com/in/danielmulder1979/"
      },
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "4.8",
        "ratingCount": "250"
      }
    }
    </script>
    <!-- JS Scripts -->
    <script src="https://proseo.tech/static/js/main.js"></script>
    <!-- TrustBox script -->
    <script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
    <!-- ✅ Stylesheets -->
    <!-- Bootstrap CSS toevoegen -->
    <link href="https://proseo.tech/static/css/bootstrap.css" rel="stylesheet">
    <link media="all" rel="stylesheet" href="/static/css/styles.css" />
</head>
<body>
    {{ render_nav() | safe }}
    <!-- Content -->
    <div class="container pt-5">
        <div class="page-header" id="banner">
            <h1>Feed with Shared SEO Reports</h1>
        </div>
    </div>
    <div class="container mt-4">
        <!-- Intro-box -->
        <div class="intro-box mb-4">
            <h1 class="intro-title">📈 On-Page SEO Audits & Reports</h1>
            <p class="intro-text">
                A selection of the audits and reports made with the Pro SEO Assistant GPT are published on this page as showcases demonstrating the capabilities of the AI SEO Tool for ChatGPT. This feed makes the shared sessions available to you to explore yourself.
            </p>
        </div>
        <!-- Feed met Cards -->
        <div class="container mt-4">
            <div class="row">
                {% for session in sessions %}
                <div class="col-md-6 mb-4">
                    <div class="custom-card">
                        {% if session.preview_image %}
                            <div class="session-image header-image">
                                <img src="{{ session.preview_image }}" alt="{{ session.report_title }}">
                            </div>
                        {% endif %}
                        <div class="custom-card-body">
                            <h4 class="custom-card-title header-title">{{ session.report_title }}</h4>
                            {% if session.target_link %}
                                <p class="custom-card-url">
                                   🔗 <a href="{{ session.target_link }}" target="_blank" rel="noopener noreferrer">
                                        {{ session.target_link[:57] ~ ('...' if session.target_link|length > 57 else '') }}
                                    </a>
                                </p>
                            {% endif %}
                            <h6 class="custom-card-subtitle mb-2">Date: {{ session.created_at.strftime('%Y-%m-%d') }}</h6>
                            <p class="custom-card-text">{{ session.summary }}</p>
                            <a href="{{ session.share_link }}" class="custom-card-link" target="_blank">💬 View Session</a>
                        </div>
                    </div>
              </div>
              {% endfor %}
        </div>

        <!-- ✅ Pagination -->
        {% if total_pages > 1 %}
        <div class="d-flex justify-content-center mt-4">
            <ul class="pagination pagination-lg">
                <!-- Previous button -->
                <li class="page-item {% if current_page == 1 %}disabled{% endif %}">
                    <a class="page-link" href="{{ url_for('pages.shared_chat_sessions', page=current_page-1, per_page=per_page) }}" tabindex="-1">&laquo;</a>
                </li>

                {% for i in range(1, total_pages + 1) %}
                    <li class="page-item {% if i == current_page %}active{% endif %}">
                        <a class="page-link" href="{{ url_for('pages.shared_chat_sessions', page=i, per_page=per_page) }}">{{ i }}</a>
                    </li>
                {% endfor %}

                <!-- Next button -->
                <li class="page-item {% if current_page == total_pages %}disabled{% endif %}">
                    <a class="page-link" href="{{ url_for('pages.shared_chat_sessions', page=current_page+1, per_page=per_page) }}">&raquo;</a>
                </li>
            </ul>
        </div>
        {% endif %}

    </div>
    <!-- end main -->
    </div>
    <!-- Footer Section -->
    <footer id="footer" class="bg-light text-center py-3 mt-5">
        <p>&copy; 2025 Pro SEO Assistant | All rights reserved | AI SEO Tool for ChatGPT |
            <a href="https://chatgpt.com/g/g-67a9c0b376d881918b85c637d77761f0-pro-seo-assistant" target="_blank">Try Pro SEO Assistant GPT</a>
            <a href="https://www.facebook.com/people/Pro-SEO-Assistant-GPT/61574061533622/" target="_blank">Facebook</a>
        </p>
    </footer>
    <!-- Bootstrap JS (inclusief Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/body_close.js') }}"></script>
    <script src="{{ url_for('static', filename='js/share.js') }}"></script>
</body>
</html>